doctype html(lang='en')
head
    meta(charset='utf-8')  
    meta(http-equiv='X-UA-Compatible', content='IE=edge')  
    meta(name='viewport', content='width=device-width, initial-scale=1')  
    title IE8 Linter
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(rel="icon", href="/favicon.ico", type="image/x-icon")
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/bower_components/ladda/dist/ladda-themeless.min.css', rel='stylesheet')
    link(href='/bower_components/angular-loading-bar/build/loading-bar.min.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    style
      | html,body{height: 100%; width: 100%;}
body(ng-app="ie8Linter", ng-controller="LinterCtrl", ng-init="init()")
  header 
    div.container
      form.linter-form.row(ng-submit="submit()")
        a.brand(ng-click="clear()")
          h1 IE8 Linter
        p Unfortunately for some of us, there are still projects out there that require compatability with our friendly dinosaur IE8. For these special occasions I made this little linter. What it does is spit all the usual suspects that cause incompatability and suggest fixes.
        p.shameless-plug IE8 Linter is <a href="https://github.com/israelidanny/ie8linter" target="_blank">open source</a>, and is a love offering to you from <a href="mailto:dannypovolotski@gmail.com">Danny Povolotski</a>, whom you can <a href="mailto:dannypovolotski@gmail.com">hire right now</a> to work awesomeness on your project!
        div.row
          div.col-md-10
            input.form-control.input-lg(type="text", id="address", name="address", placeholder="Enter URL of the page you want to lint", value="#{address}", ng-model="address")
          div.col-md-2
            button.btn.btn-default.btn-lg.btn-block.ladda-button(type="submit", data-style="slide-right", ladda="loading") Submit
  div.container
    div.row
      span(ng-show="problems")
        div.panel.panel-default(ng-repeat="problem in problems")
          div.panel-heading {{problem.problem}}
          span(ng-show="problem.solution")
            div.panel-body {{problem.solution}}          
  script(src="/bower_components/angular/angular.min.js")
  script(src="/bower_components/angular-loading-bar/build/loading-bar.min.js")
  script(src="/bower_components/angular-bootstrap/ui-bootstrap.min.js")
  script(src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
  script(src="/bower_components/ladda/dist/spin.min.js")
  script(src="/bower_components/ladda/dist/ladda.min.js")
  script(src="/bower_components/angular-ladda/dist/angular-ladda.min.js")
  script(src="/bower_components/angular-resource/angular-resource.min.js")
  script(src='/js/app.js')
  script(type="text/ng-template", id="oopsModal.html")
    div.modal-header
      h3.modal-title Oops...
    div.modal-body
      p {{error}}
